// Shared typography tokens

:root {
  --font-sans: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;

  --font-w-light: 300;
  --font-w-regular: 400;
  --font-w-medium: 500;
  --font-w-bold: 700;
}

$font-sans: var(--font-sans);

$font-w-light: var(--font-w-light);
$font-w-regular: var(--font-w-regular);
$font-w-medium: var(--font-w-medium);
$font-w-bold: var(--font-w-bold);
